
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <form id="frmLogin">
        <div class="col-lg-6 col-lg-offset-3">
            Usuario:
            <input type="text" name="user" />
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            Password:
            <input type="password" name="pwd" />
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <input type="submit" value="Ingresar" class="btn btn-success" />
        </div>
    </form>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#frmLogin").submit(function (e) {
                e.preventDefault();
                url = "@Url.Content("~/Acceso/Enter")";
                parametros = $(this).serialize();
                $.post(url, parametros, function (data) {
                    if (data == "1") {
                        document.location.href = "@Url.Content("~/")";
                    } else {
                        alert(data);
                    }                         
                })
            });
        });
    </script>
}

